*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Sans", sans-serif;
}

/* ============ COMMOM ========= */

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn {
    --height: 62px;

    display: inline-block;
    min-width: 170px;
    background: #5d3bee;
    color: #fdfdfd;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    line-height: var(--height); /* 166.667% */
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ======= HEADER ======= */

.header {
    background: #fbfaff;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 3;
}

.footer-bottom,
.header-top {
    width: 1330px;
    max-width: calc(100% - 60px);
    margin-left: auto;
    margin-right: auto;
}

.footer__inner,
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0 8px;
}

.footer__email,
.header__email {
    width: 28%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer__dots,
.header__dots {
    display: inline-block;
    width: 46px;
    height: 46px;
    flex-shrink: 0;
    line-height: 46px;
    border: 1px solid rgba(220, 212, 252, 1);
    border-radius: 50%;
    text-align: center;
}

.footer__link,
.header__link {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36; /* 136.364% */
    text-decoration: underline;
}

.navbar__list,
.navbarf__list {
    display: flex;
    column-gap: 43px;
}

.navbar-item__link,
.navbarf-item__link {
    color: #51586a;
    font-size: 1.7rem;
    font-weight: 400;
}

/* hero */
.hero {
    /* padding-top: 44px; */
    background: #fbfaff;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
}
/* media */

.hero__media {
    position: relative;
}

.hero__left {
    position: absolute;
}

.hero__left:nth-child(1) {
    top: 0;
    left: 200px;
}

.hero__left:nth-child(2) {
    left: -43px;
    top: 148px;
}

.hero__left:nth-child(3) {
    left: -100px;
    top: 15px;
}

.hero__left:nth-child(4) {
    right: -50px;
    top: 199px;
}

.hero__img {
    min-width: 514px;
    height: 705px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

/* hero content */
.hero__content {
    margin-top: 137px;
    position: relative;
}

.hero__heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.83; /* 95% */
    /* khoảng cách giữa các ký tự sẽ giảm đi 3.2px. 
    Điều này làm cho các ký tự sát lại gần nhau hơn. */
    letter-spacing: -3.2px;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__group {
    display: flex;
    align-items: center;
    margin-top: 50px;
    column-gap: 30px;
}

.hero__more {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-decoration: underline;
}

.hero__social {
    margin-top: 109px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero-round__icon {
    position: absolute;
}

.hero-round__icon:nth-child(1) {
    bottom: 55px;
    right: -85px;
}

.hero-round__icon:nth-child(2) {
    bottom: -68px;
    right: -32px;
}

.hero-round__icon:nth-child(3) {
    bottom: -68px;
    right: -145px;
}

.hero-round__icon:nth-child(4) {
    bottom: -68px;
    right: -155px;
}

.hero__title {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.86; /* 187.5% */
}

.hero__in {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}

/* ======== TRUST ========== */
.trust {
    margin-top: 100px;
}

.trust__heading {
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19; /* 119.048% */
    letter-spacing: -1.68px;
    position: relative;
}

.trust__heading::before {
    position: absolute;
    content: "";
    width: 86px;
    border: 2px solid #5d3bee;
    left: -100px;
    top: 24px;
}

.trust__social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
}

.trust-item {
    max-width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.trust-item__label {
    width: 100%;
    height: 13px;
    flex-shrink: 0;
    color: #080415;
}

/* ======== SERVICE ========== */
.service {
    margin-top: 133px;
}

.service__content {
    text-align: center;
}

.service__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.service__desc {
    margin-left: auto;
    margin-right: auto;
    width: 534px;
    margin-top: 20px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.service__list {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.service-item {
    max-width: 350px;
    padding: 43px 33px;
    background: #fbfaff;
    transition: 0.5 ease;
}

.service-item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.service-item__heading {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.service-item__desc {
    margin-top: 15px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

/* ======== WORK ========== */

.work {
    margin-top: 140px;
    padding: 86px 0;
    background: #5d3bee;
}

.work__inner {
    display: flex;

    align-items: center;
    column-gap: 160px;
}

.work__heading {
    max-width: 468px;
    color: #fff;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.work__desc {
    width: 370px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    opacity: 0.7;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.work-item {
    display: flex;
    align-items: center;
    padding: 24px;
    background: #fbfaff;
}

.work__info,
.work__images {
    transition: 0.25s ease;
    cursor: pointer;
}

.work-item:hover .work__info {
    transform: translateX(10px);
}

.work-item:hover .work__images {
    transform: translateY(-10px);
}

.work-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.work-item__desc {
    margin-top: 10px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.44; /* 143.75% */
}

.work-item__more {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-decoration: underline;
}

.work__img {
    max-width: 246px;
    height: 187px;
    flex-shrink: 0;
    object-fit: cover;
}

.work__cta {
    display: flex;
    justify-content: center;
}

.work__btn {
    margin-top: 80px;
    color: #080415;
    background: #fff;
}

/* ======== ABOUT ======== */

.about {
    margin-top: 140px;
    padding-bottom: 74px;
    background: linear-gradient(to bottom, #fff 50%, #fbfaff 50%);
    /* Đảm bảo phần tử có kích thước */
    width: 100%;
    height: 100vh; /* Chiều cao toàn màn hình, tùy chọn */
}

.about__content {
    text-align: center;
}

.about__label {
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.about__heading {
    margin-top: 10px;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.about__desc {
    margin-top: 15px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.about__center {
    margin-top: 90px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about__info {
    text-align: center;
}

.about__center::before,
.about__center::after {
    position: absolute;
    content: "";
    width: 85%;
    left: 100px;
}

.about__center::before {
    top: -20px;
    border: 1px solid #ccc;
}

.about__center::after {
    bottom: -20px;
    border: 1px solid #ccc;
}

.about__title {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.36; /* 135.714% */
    letter-spacing: 1.68px;
    text-decoration: underline;
}

.about__descc {
    color: #51586a;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.about__bottom {
    margin-top: 70px;
    position: relative;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.about__video {
    width: 100%;
}

.about__bottom::after {
    content: "Intro Video";
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 170px;
    height: 62px;
    text-align: center;
    flex-shrink: 0;
    background: #fff;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67; /* 166.667% */
    text-transform: uppercase;
}

.about__bottom::after {
    line-height: 62px;
}

/* ========== COMMENT ======== */
.comment {
    padding: 76px 0 74px;
    background: #fbfaff;
}

.comment__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.comment__desc {
    width: 570px;
    margin-top: 20px;
    color: #51586a;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.comment__note {
    margin-top: 60px;
    width: 679px;
    height: 114px;
    color: #51586a;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.comment__info {
    margin-top: 36px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.comment__images {
    display: inline-block;
    position: relative;
    width: 39.833px;
    height: 39.833px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #f29764;
}

.comment__avatar {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: inherit;
}

.comment__name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33; /* 133.333% */
}

.comment__inform {
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.82; /* 181.25% */
}

.comment__group {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.comment__dot {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    background: #cbc9d0;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 8px; /* Khoảng trắng giữa các hình tròn */
    transition: background 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển động */
}

.comment__dot::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: -4px;
    left: -4px;
    border: 1px solid #5d3bee;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Hiệu ứng chuyển động cho vòng ngoài */
}

.comment__dot:hover {
    background: #5d3bee; /* Màu nền tím khi hover */
    transform: scale(1.2); /* Phóng to hình tròn khi hover */
}

.comment__dot:hover::after {
    opacity: 1;
    transform: scale(1.3); /* Phóng to vòng ngoài khi hover */
}

.comment__rect {
    position: relative;
}

.comment__icon {
    position: absolute;
}

.comment__icon:nth-child(1) {
    bottom: 40px;
    left: -210px;
}

.comment__icon:nth-child(2) {
    bottom: -73px;
    left: -306px;
}

.comment__icon:nth-child(3) {
    bottom: -73px;
    left: -325px;
}

.comment__icon:nth-child(4) {
    bottom: -72px;
    left: -172px;
}

.comment__icon:nth-child(5) {
    bottom: 40px;
    right: -130px;
}

.comment__icon:nth-child(6) {
    bottom: -73px;
    right: -90px;
}

.comment__icon:nth-child(7) {
    bottom: -73px;
    right: -205px;
}

.comment__icon:nth-child(8) {
    bottom: -72px;
    right: -225px;
}

/* ====== FAG ============ */
.fag {
    margin-top: 95px;
}

.fag__top {
    max-width: 575px;
}

.fag__heading {
    width: 100%;
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.fag-item__text {
    color: #080415;
    font-size: 3.2rem;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
}

.fag-item__desc {
    margin-top: 23px;
    max-width: 487px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.fag__list {
    margin-top: 80px;
}

.fag-item {
    position: relative;
    width: 80%;
}

.fag-item__label {
    display: flex;
    cursor: pointer;
}

.fag-item__answer::after {
    display: block;
    content: "";
    width: 100%;
    flex-shrink: 0;
    margin: 33px 0 60px;
    border: 2px solid #08182f;
    transition: border-color 0.5s ease; /* Thêm transition cho border */
}

.fag-item__input {
    transition: transform 0.5s ease;
}

.fag-item__icon::after {
    content: url(/assets/icon/fag-icon-question.svg);
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: border-color 0.5s ease; /* Thêm transition cho border của icon */
}

/* + chọn phần tử liền kề */
.fag-item__input:checked + .fag-item__label .fag-item__icon::after {
    content: url(/assets/icon/fag-icon-answer.svg);
    line-height: 40px;
    border: 1px solid #e2c2e2;
}

/* ẩn câu trả lời  */
.fag-item__answer > .fag-item__desc {
    display: none;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Thêm transition cho display */
}
/* hiện câu trả lời */
.fag-item__input:checked
    + .fag-item__label
    + .fag-item__answer
    > .fag-item__desc {
    display: block;
}

.fag-item__input:checked + .fag-item__label .fag-item__text {
    color: #5d3bee;
}

.fag-item__input:checked + .fag-item__label + .fag-item__answer::after {
    border: 2px solid #5d3bee;
}

/* ======= gallery ========= */
.gallery {
    margin-top: 160px;
}

.gallery__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery__heading,
.cta__heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18; /* 117.857% */
    letter-spacing: -2.24px;
}

.gallery__desc,
.cta__desc {
    width: 528px;
    margin-top: 20px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    text-align: center;
}

.gallery__link {
    display: inline-block;
    margin-top: 30px;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    letter-spacing: -1.28px;
    text-decoration: underline;
}

.gallery-item {
    margin-top: 70px;
    max-width: 370px;
}

.gallery-item__img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

/* ======= CTA ========= */
.cta {
    margin-top: 140px;
}

.cta .container {
    max-width: 1330px;
    height: 488px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden; /* Giới hạn nội dung bên trong */
    padding-left: 0;
    padding-right: 0;
}

.cta__inner {
    padding: 60px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fbfaff;
}

.cta__heading {
    margin-top: 20px;
}

.cta__btn {
    margin-top: 20px;
}

.cta__heading,
.cta__desc,
.cta__btn,
.cta__icon {
    position: relative; /* Để áp dụng z-index */
    z-index: 1; /* Đảm bảo các phần tử này nằm trên .cta__rect */
}

.cta__rect {
    position: absolute;
}

.cta__rect:nth-child(1) {
    top: -95px;
    left: 55%;
    transform: translateX(-50%);
}

.cta__rect:nth-child(2) {
    top: 40%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.cta__rect:nth-child(3) {
    top: 30%;
    left: 54%;
    transform: translate(-50%, -50%);
}

.cta__rect:nth-child(4) {
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
}

.cta__rect:nth-child(5) {
    bottom: 130px;
    left: 52px;
}

.cta__rect:nth-child(6) {
    bottom: 22px;
    left: -42px;
}

.cta__rect:nth-child(7) {
    left: -80px;
    bottom: 0;
}

.cta__rect:nth-child(8) {
    bottom: 0;
    left: 70px;
}

.cta__rect:nth-child(9) {
    right: 50px;
    top: -5px;
}

.cta__rect:nth-child(10) {
    top: 0;
    right: 0;
}

.cta__rect:nth-child(11) {
    top: 35px;
    right: 0;
}
/* footer */
.footer__inner {
    position: relative;
}

.footer__inner::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -18px;
    left: 0;
    border: 1px solid #cecdd2;
    margin-bottom: 18px;
}
/* ======== COPYRIGHT ======== */

.copyright {
    margin: 18px 0;
    width: 100%;
}

.copy__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy__desc {
    color: #525771;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    opacity: 0.6;
}

.copy__policy,
.copy__term {
    color: #525771;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
    letter-spacing: -0.54px;
    opacity: 0.6;
}

.copy__info {
    display: flex;
    column-gap: 36px;
    position: relative;
}

.copy__info::after {
    content: "";
    position: absolute;
    height: 14px;
    border-left: 1px solid #525771; /* Tạo đường dọc với border-left */
    top: 10px;
    left: 43%; /* Căn giữa đường thẳng nếu cần */
    transform: translateX(-50%);
}
